html, body {
    margin: 0;
    padding: 0;
  }


/* NAVBAR section*/

header {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    color: #f1ff5c;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(0.25em);
}


/* Main presenting page section*/
.header {
    background: url(images/rain.jpg) no-repeat center center; 
    background-size: cover;
    height: 800px;
    text-align: center;
}

.header h1 {
    color: #fff;
    line-height: 300px; 
    font-size: 50px;
    margin-top: 200;
    margin-bottom: 50px;
    text-transform: uppercase; 
}

.header h2 {
    color: #fff;
    line-height: 100px; 
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 100px; 
}

.header h1, .header h2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.about-fullglass p {
    padding-top: 100px; /* adaugă spațiu deasupra textului */
    padding-bottom: 20px;
}

/* Spacer black between sections */
.spacer {
    background-color: black;
    height: 150px;
    margin: 0;
}

/* About section */
.about-image {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}

.about-fullglass {
    background-color: black;
    margin: 0;
    text-align: justify;
    color: white;
    font-family: Verdana, sans-serif;
    padding-left: 70px;
    padding-right: 70px;
}

.about-fullglass h2,
.about-fullglass p,
.about-fullglass ul {
    margin: 0;
    padding: 0;
}

.footer { 
    background: #000;
    height: 80px; 
    padding-bottom: 50px;
  }
  
  .footer p { 
    color: #fff;
    font-size: 14px;  
    height: 80px; 
    line-height: 80px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;  
  }